.modal {
display: block;
}
.titcolors {
   color: orange; 
}

#imgheader{
    margin-top: 2em;
}

.spacesdiv{
    margin-top: 4em;
}

.spacesdiv2{
    margin-top: 2em;
}
.posbuttonslider {
    position: relative;
    float: right;
    right: 10%;
    top: 20px;
}
.spacebuttons{
    width: 100%;
    margin-left: 0px;
}